.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Style for navbar links */
.custom-navlink {
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s ease-in-out;
}

.custom-navlink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #0d6efd; /* Bootstrap primary blue */
  transition: width 0.3s ease-in-out;
}

.custom-navlink:hover::after {
  width: 100%;
}

.active-link::after {
  width: 100%;
}
